[Unit]
Description=DockPulse - Ultra Lightweight Docker & Podman Compose Manager
After=network-online.target podman.socket podman.service docker.service
Wants=network-online.target podman.socket docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/hostcontrol
ExecStart=/root/hostcontrol/dockpulse
Restart=always
RestartSec=5s
LimitNOFILE=65536
Environment=PORT=3800

[Install]
WantedBy=multi-user.target
