[Unit]
Description=DockPulse - Ultra Lightweight Docker & Compose Manager
After=network-online.target docker.service
Wants=docker.service network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/hostcontrol
ExecStart=/root/hostcontrol/dockpulse
Restart=always
RestartSec=5s
LimitNOFILE=65536
Environment=PORT=3800

[Install]
WantedBy=multi-user.target

